[submodule "lib/nanopb"]
	path = lib/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "lib/libusb_stm32"]
	path = lib/libusb_stm32
	url = https://github.com/flipperdevices/libusb_stm32.git
[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
	shallow = true
[submodule "lib/heatshrink"]
	path = lib/heatshrink
	url = https://github.com/flipperdevices/heatshrink.git
[submodule "lib/microtar"]
	path = lib/microtar
	url = https://github.com/amachronic/microtar.git
[submodule "lib/stm32wb_hal"]
	path = lib/stm32wb_hal
	url = https://github.com/STMicroelectronics/stm32wbxx_hal_driver.git
[submodule "lib/stm32wb_cmsis"]
	path = lib/stm32wb_cmsis
	url = https://github.com/STMicroelectronics/cmsis_device_wb.git
[submodule "lib/stm32wb_copro"]
	path = lib/stm32wb_copro
	url = https://github.com/flipperdevices/stm32wb_copro.git
	shallow = true
[submodule "documentation/doxygen/doxygen-awesome-css"]
	path = documentation/doxygen/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "assets/protobuf_rpc"]
	path = assets/protobuf_rpc
	url = https://github.com/flipperdevices/flipperzero-protobuf.git
	shallow = false
[submodule "fbt_layers/core_libs"]
	path = fbt_layers/core_libs
	url = https://github.com/flipperdevices/fbtng-corelibs.git
[submodule "fbt_layers/freertos"]
	path = fbt_layers/freertos
	url = https://github.com/flipperdevices/fbtng-freertos.git
[submodule "fbt_layers/fbtng"]
	path = fbt_layers/fbtng
	url = https://github.com/flipperdevices/fbtng.git
	branch = hedger/ng-bootstrap
[submodule "scripts/toolchain"]
	path = scripts/toolchain
	url = https://github.com/flipperdevices/fbtng-bootstrap.git
